*{
    /* border: 1px solid black; */
}

body{
  font-size: 20px;
}

/* --------------- Container Shadow --------------- */
.container {
  box-shadow: 1px 0px 10px 0px rgb(0, 59, 115,0.5);
  padding: 50px;
  overflow: hidden;
  /* height: 100vh; */
}

/* --------------- Hero Style --------------- */

.hero{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    background-image: url("media/heronew.jpg");
}

.testi-hero{
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("media/testi-hero.jpg");
  height: auto;

}

/* --------------- Text Styles --------------- */

.text-justify{
  text-align: justify;
}

.code-left{
  text-align: left;
}

/* --------------- Images Style and Sizes --------------- */

.logo{
    width: 40px;
    color: #fff;
}
.search-img{
  width: 20px;
}
.codeinfo-img{
  width: 100%;
  box-shadow: 0 10px 2px -5px gray;
}
.codeinfo-icon{
  width: 50%;
}
.topic-img{
  width: 100%;
}

.download-img{
  height: 30vh;
  width: 100%;
}
.bg-register-image {
  background: url('media/register.png');
  background-position: center;
  background-size: cover;
}

.slider-img{
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-around;
}

.partner-logo{
  width: 150px;
}
.developer-img{
  width: 250px;
}
.banner-img{
  width: 100%; 
  height: 200px;
}

.testi-img{
  border-radius: 50em;
  border: 10px solid #fff;
  width: 150px;
}

/* --------------- Card Style --------------- */

.hero-card{
    background: linear-gradient(to right, rgb(1, 1, 136,0.8), rgb(152, 51, 202,0.8));
    height: auto;
    border-radius: 10px;
    margin: auto;
    width: 100%;

}
.login-card{
  background: linear-gradient(to bottom, rgb(1, 1, 136,0.8), rgba(13, 39, 87));
  color: #fff;
  border-radius: 20px;
}

.adminlogin-bg{
  background: url('media/admin-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.login-bg{
  background: url('media/login-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.register-card{
  background: linear-gradient(to bottom, rgb(1, 1, 136,0.8), rgba(13, 39, 87));
  color: #fff;
  margin: auto;
}



.testi-card{
  background: linear-gradient(to right, rgb(1, 1, 136,0.8), rgb(152, 51, 202,0.8));
  height: auto;
  border-radius: 10px;
  margin: auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact-card{
  background: rgb(11, 11, 64);
  color: #fff;
  width: 100%;
  border-radius: 10px;
}


hr{
  width: 50%;
  margin: auto;
  border: 2px solid black;
  text-align: center;
}

nav li a{
    color: #fff !important;
}


/* --------------- Navigation Style CSS --------------- */
/* 
.nav-bg{
  background-color: #003B73 !important ;
} */
.nav-item{
  padding-left: 30px;
}

nav li a:hover{
    width: 100%;
    color: rgba(6, 167, 216, 0.8) !important;
}

.dropdown-menu{
  background: linear-gradient(to bottom, rgb(1, 1, 136,0.8), rgba(13, 39, 87,0.8));
  margin: 0;
  padding: 0;
}
.dropdown-menu:hover{
 cursor: pointer;
}


/* --------------- Nagication Style toggle CSS --------------- */

.navbar-toggler{
    width: 40px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span{
    margin: 0;
    padding: 0;
}

.toggler-icon{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar{
    margin-top: 0px;
}

/* when toggle clicked */

.navbar-toggler .top-bar{
    margin-top: 0px;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar{
    opacity: 0;
}

.navbar-toggler .bottom-bar{
    margin-top: 0px;
    transform: rotate(-135deg);
}

/* when navbar collapse */

.navbar-toggler.collapsed .top-bar{
    margin-top: -20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar{
    margin-top: 20px;
    transform: rotate(0deg);
}


/* --------------- Article Section CSS --------------- */

p a{
  text-decoration: none;
  color: #003B73;
}

article li{
  /* list-style-type: none; */
}
/* --------------- Accordion Background color | Hover --------------- */
#accordion .collapsing {
  transition: 0.5s ease-in-out;
}

:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
/* Accordion */

div.scroll {
  height: 1000px;
  overflow: auto;
  padding: 20px;
}

.acd-btn{
  background-color: #003B73 !important;
}
.acd-btn:hover{
  background-color: rgb(3, 29, 54) !important;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

/* --------------- Button --------------- */

.btn-darkinfo {
  color: #fff !important;
  border-radius: 5px;
  background-color: #003B73 !important;
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  border: 0; }

.btn-darkinfo:hover {
  background-color: #faf2f2 !important;
  transition: .3s; 
  color: rgb(30, 30, 56) !important;
}

.btn-outline-darkinfo {
    color: #003B73;
    border-radius: 5px;
    background-color: #fff !important;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
    border: 2px solid #003B73 !important; 
}
  
.btn-outline-darkinfo:hover {
    background-color:#003B73 !important;
    color: #fff !important;
    transition: .3s; 
}
  

  
/* --------------- Image Hover Effect --------------- */

.card:hover{
  transform: scale(1.05);
}

.card{
  transition: transform .5s;
  border: none;

}

/* --------------- Slides Left to Right --------------- */
.slide-right {
    animation: 3s slide-right;
    margin-left: 2%;
    text-align: center;
}
  @keyframes slide-right {
    0% {
      margin-left: -100%;
    }
    100% {
      margin-left: 2%;
    }
  }
  
/* --------------- Slides Right to Left --------------- */
.slide-left {
    animation: 3s slide-left;
    margin-right: 2%;

}
  @keyframes slide-left {
    0% {
      margin-right: -100%;
    }
    100% {
      margin-right: 2%;
    }
  }
  


/* --------------- Footer --------------- */
footer a{
    text-decoration: none;
    color: #fff;
    margin-right: 20px;

}
footer a:hover{
    color: rgba(6, 167, 216, 0.8);
    /* text-decoration: underline; */
}
footer{
  background: rgb(11, 11, 64);
    color: #fff;
}

footer img{
    width: 20px;
}

a{
  color: #fff;
  text-decoration: none;
}

a:hover{
  color: rgba(6, 167, 216, 0.8);
}


/* HTML Styles for documentary */

.html{
  background-color: rgb(38, 34, 34);
  max-height: 600px;
  padding: 20px;
}

.html-tag{
  color: orangered;
}

.html-attr{
  color: brown;
}

.html-value{
  color: green;
}

/* Alerts */

#success-user, #err-username{
  opacity: 0;
}
/* #success-user{
  color: green;
}
#err-username{
  color: red;
} */


/* List */
#portfolio{
  padding: 20px;
}
.my-projects{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.projects{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.projects img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(to bottom, rgb(1, 1, 136,0.8), rgba(13, 39, 87));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 20px;
  transition: height 0.5s;
  color: #fff;
}

.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a{
  margin-top: 20px;
  color: #003B73;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.layer a:hover{
  background-color: #003B73;
  color: #fff;
  transition: 0.5s;
}

.projects:hover img{
  transform: scale(1.1);
}

.projects:hover .layer{
  height: 100%;
}


